@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:wght@500&family=Sankofa+Display&family=Zain:wght@200;300;400;700;800;900&display=swap');


body{
    display: block;
    width: 100%;
    overflow-x: hidden;
    background-color: #c2cf97;
}

#heading{
    width: 95%;
    display: flex;
    background-color: #c2cf97;
    border-radius: 40px 40px 0px 0x;
    justify-content: center;
    font-size: 20px;
    font-family: "Sankofa Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-container{
    width: 95%;
    height: 500px;
    background-color: #E0E5B6;
    border-radius: 20px 20px 20px 20px;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width:none;
}

#text{
    display:flex;
    gap: 10px;
    margin-left: 10px;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    align-items: center;
}

#username{
    color: #131842;
    font-weight: 600;
    text-transform: uppercase;
}

#time{
    align-self: self-end;
    font-size: 15px;
    color: #8D493A;
}

#message{
    width: auto;
    max-width: 300px;
    word-wrap: break-word;
    background-color: #D0B8A8;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 5px 10px 1px;
    border-radius: 20px 20px 20px 20px;

}



.text-box input{
    background-color: #E7E8D8;
    width: 75%;
    padding: 20px;
    font-size: 20px;
    margin-top: 2px;
    border-radius: 20px 20px 20px 20px;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: auto;
}

.text-box i{
    font-size: 20px;
}

.text-box button{
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
}

.text-box button:hover{
    background-color: #131842;
    color: #E7E8D8;
}